# directories
dataset
models
results
runs

# venv
venv

# pycache
__pycache__

# data
data/combined

# pretrained
pretrained

# checkpoints
.ipynb_checkpoints

# vae
vae

# data
data

# key_pair.pem
key_pair.pem

# notebooks
notebooks